@media screen and (max-width: 896px) {
    header {
        .container {
            flex-wrap: wrap;
            justify-content: center !important;
            .logo {
                margin-bottom: 24px;
            }

            .box {
                flex-basis: 100%;
                flex-wrap: wrap;

                justify-content: flex-end;
                
                .searchbar {
                    flex-basis: 100%;
    
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    main {
        // padding-top: 11.5rem !important;
    }
}