@media screen and (max-width: 896px) {

    header {
        .container {
            flex-wrap: wrap;
            justify-content: space-between !important;
            align-items: center;

            position: relative;

            #menuLg {
                display: none;
            }

            #menuSm {
                display: block;
            }

            

            .box {
                flex-basis: 100%;
                flex-wrap: wrap;

                .searchbar {
                    flex-basis: 100%;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .container section {
        &::before, &::after {
            height: 240px !important;
        }
    }

    .card {
        width: 160px !important;
        height: 240px !important;
    }

    main {
        // min-height: calc(100vh - 50px - 36px - 1rem - 49px) !important; //viewport - logo - paddingHeader - gapLogo/searchbar - alt. searchbar
        padding-top: 8rem !important;
    }

    #movieSection {
        margin-top: 1rem;
    }

    .suggestedTrendingMovie {
        .info {
            width: 100% !important;
            justify-content: flex-start !important;

            p {
                display: none;
            }
        }
        img {
            width: 100% !important;
        }
    }
}