@media screen and (max-width: 896px) {
    header {
        .container {
            flex-wrap: wrap;
            justify-content: center !important;
            .logo {
                margin-bottom: 20px;
            }
            .searchbar {
                flex-basis: 100%;

                input {
                    width: 100%;
                }
            }
        }
    }
}