$darkest-color: #030303;
$darker-color: #080808;
$dark-color: #141414;
$notSoDark-color: #252525;
$almostLight-color: #404040;
$brand-color: #dc1a28;
$border-color: #3c3c3c;

$card-width: 200px;
$card-heigth: 300px;