$darkest-color: #030303;
$darker-color: #080808;
$dark-color: #141414;
$notSoDark-color: #252525;
$almostLight-color: #404040;

$darker-color-rgb: rgb(8, 8, 8);

$brand-color: #dc1a28;
$border-color: #3c3c3c;
$body-color: #070707;

$card-width: 200px;
$card-height: 300px;